* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/


/* html{
    height: -webkit-fill-available;
} */

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: rgb(0, 87, 184);
	/* height: 100vh; */
	/* height: -webkit-fill-available; */
	height: 100%;
}

body.u-tv__ver1 {
	height: 100%;
}

body.lock {
	overflow: hidden;
}

body.mouse .header-menu__list>li:hover .header-sub-menu__list {
	display: block;
}

body.mouse .header-sub-menu__list>li:hover .header-sub-sub-menu__list {
	display: block;
}

body.touch .header-sub-menu__list.open {
	display: block;
}

body.touch .header-sub-sub-menu__list.open {
	display: block;
}

body.touch .arrow {
	display: block;
}


.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 500px;
	padding: 0 10px;
	margin: 0 auto;
}

header {
	height: 60px;
	background-color: #1E448A;
	z-index: 50;
}

.header__u-tv__ver1 {
	height: 60px;
	background-image: linear-gradient(to right, rgb(0, 87, 184), rgb(255, 213, 0));
	z-index: 50;
}

.version {
	font-size: 18px;
	text-shadow: 0px 4px 4px black;
	color: aliceblue;
	text-transform: uppercase;
}

.new {
	display: none;
}

.coat {
	margin-top: 5px;
	margin: 0 auto;
	width: 36px;
	height: 50px;
	z-index: 3;
	opacity: 0.2;
}

.version span {
	font-size: 18px;
	text-shadow: 0px 4px 4px black;
	color: aliceblue;
	text-transform: lowercase;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../ico/rose.png");
	margin-top: 5px;
	width: 50px;
	height: 50px;
	z-index: 3;
	transition: all .7s;
}


.logo.active {
	background-image: url("../ico/lock.png");
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
}

.logo.active:active {
	background-image: url("../ico/unlock.png");
	width: 50px;
	height: 50px;
}

.logo__link {
	display: none;
}

.logo__link.active {
	display: block;
	/* font-size: 16px; */
	color: #FFFFFF;
	text-shadow: 2px 2px 5px rgb(0, 87, 184);
	font-weight: bolder;
	align-items: center;
	margin-top: 10px;
	margin-left: 5px;
	padding: 15px 0;
}


.header__burger {
	display: block;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 3;
}

.header__burger span {
	position: absolute;
	background-color: #fff;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;
	transition: all .3s;
}

.header__burger::before,
.header__burger::after {
	content: "";
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all .3s;
}

.header__burger::before {
	top: 0;
}

.header__burger::after {
	bottom: 0;
}

.header__burger.active::before {
	transform: rotate(45deg);
	top: 9px;
}

.header__burger.active::after {
	transform: rotate(-45deg);
	bottom: 9px;
}

.header__burger.active span {
	transform: scale(0);
}


.header-menu {
	position: fixed;
	top: 60px;
	left: -100%;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-image: linear-gradient(180deg, rgb(0, 87, 184), rgb(255, 213, 0));
	padding-top: 15px;
	padding-bottom: 120px;
	transition: all .5s;
}

.touch-img{
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	right: 35px;
}

.header-menu a.parent {
	margin: 0 25px 0 0;
}

.header-menu li {
	position: relative;
}

.header-menu__list {
	display: block;
}

.header-menu__list>li {
	width: 65%;
	margin: 0 auto;
}


.header-menu.active {
	left: 0;
	z-index: 1;
}


.header-menu__item {
	padding: 15px 0 5px 0px;
}

.header-menu__link {
	color: #FFFFFF;
	font-size: 18px;
	text-shadow: 0px 4px 4px black;
}


.header-sub-menu__list {
	display: none;
	min-width: 150px;
	padding: 10px 0px 0px 0px;
	position: relative;
	left: 0;
	top: 0;
}


.header-sub-menu__link {
	color: rgb(3, 35, 71);
	font-size: 18px;
	text-transform: capitalize;
	text-shadow: 0px 1px 1px black;
	display: block;
	padding: 5px 10px;
	
}

.header-sub-sub-menu__list {
	display: none;
	min-width: 150px;
	padding: 0px 5px;
	position: relative;
	left: 0;
	top: 0;
}



.header-sub-sub-menu__link {
	color: rgb(255, 213, 0);
	font-size: 18px;
	text-shadow: 0px 1px 1px black;
	display: block;
	padding: 5px 10px;
	border-bottom: 3px solid rgb(255, 213, 0);
}

.arrow {
	display: none;
	position: absolute;
	right: 10px;
	top: 8px;
	width: 0;
	height: 0;
	border-top: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: none;
	box-shadow: 0px 1px 6px 4px #FDCB0B;
	border-radius: 50%;
}

.arrow.active {
	transform: rotate(180deg);
	box-shadow: 0px 1px 6px 4px #1E448A;
	border-radius: 50%;
}

.sub-menu__arrow.arrow {
	right: 10px;
	top: 8px;
	border-top: 10px solid transparent;
	border-right: none;
	border-left: 10px solid #fff;
	border-bottom: 10px solid transparent;
}



.main {
	display: flex;
	flex: 1 0 auto;
	align-items: center;
}

.main__inner {
	background-color: #3f1f1ff1;
	border-radius: 10px;
	border: 3px solid #1E448A;
	max-width: 310px;
	padding: 25px;
}

.full-screen__video {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.button {
	width: 290px;
	height: 90px;
	background: rgba(255, 255, 255, 0.15);
	border: 1px solid #FFFFFF;
}

.menu__list-one {
	margin-bottom: 10px;
}

.tv__item+.tv__item {
	display: inline-block;
	margin-top: 10px;

}

.tv__link {
	display: inline-block;
	margin: 0 auto;
	padding: 15px;
	background-color: #292626;
	color: #fff;
	text-align: center;
	border-bottom: 2px solid #1E448A;
	font-size: 1em;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 10px;
	min-width: 250px;
	background-size: contain;
	background-repeat: no-repeat;
}

#menu_btn001,
#menu_btn002,
#menu_touch,
.menu_touch {
	display: block;
	margin: 0 auto;
	margin-top: 7px;
	margin-bottom: 7px;
	padding: 10px 15px;
	background-color: #292626d0;
	color: #fff;
	text-shadow: 0px 4px 4px black;
	text-align: center;
	border-bottom: 2px solid #1E448A;
	box-shadow: 0px 2px 2px #FDCB0B;
	font-size: 1em;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 10px;
	width: 180px;
	background-size: contain;
	background-repeat: no-repeat;
}

.tv__link:hover {
	background-color: rgb(0, 87, 184);
}

#btn001:active,
#btn002:active,
#btn003:active,
#btn004:active,
#btn005:active,
#btn006:active,
#btn007:active,
#btn008:active,
#menu_btn001:active,
#menu_btn002:active,
#menu_touch:active,
.menu_touch:active {
	background-image: url("../ico/rose.png");
	background-color: #1E448A;
	box-shadow: 0 -2px rgb(0, 87, 184);
	transform: translateY(2px);
	transform: translateX(-1px);
}


#btn001 {
	background-image: url("https://yt3.ggpht.com/ytc/AKedOLRI420ruCnvVYEpxQ352NlTIvPmY_vZKS6raln0GfE=s48-c-k-c0x00ffffff-no-rj");

}

#btn002 {
	background-image: url("https://yt3.ggpht.com/LOAjtAl31lDNGQ92qqk9RYUR9H3Xj-EGr7pxRTUsOclP94brCKaiFcQLB7fMxFQJTcFVLEtXBQ=s48-c-k-c0x00ffffff-no-rj");

}

#btn003 {
	background-image: url("https://yt3.ggpht.com/ytc/AKedOLQLpGO7BkhZGx8XWq-WmZlFySQST7gX5t7SVzrqhQ=s48-c-k-c0x00ffffff-no-rj");

}

#btn004 {
	background-image: url("https://yt3.ggpht.com/ytc/AKedOLRHDNsZM7qYIGdFt-p3lA4lHa0Z7woe1XkO7ou6=s48-c-k-c0x00ffffff-no-rj");

}

#btn005 {
	background-image: url("https://yt3.ggpht.com/ytc/AKedOLS3duRG2wUy6UyDC9cdl0o_btn4Me35oK-oVbQzFQ=s48-c-k-c0x00ffffff-no-rj");

}

#btn006 {
	background-image: url("https://yt3.ggpht.com/I2LeW2KOPexSQ22-aJ59T6ErWsiSI-tVuvLN7KmYvB8T3q37C47GQvxHXg6dBHKhgb_VTkBjGA=s48-c-k-c0x00ffffff-no-rj");

}

#btn007 {
	background-image: url("https://yt3.ggpht.com/tNuyTK2uEqFyqgzlf6idH2ExJQtEbPLfMru9UY6kKMAAFzwj0SvlWj3r9dACRcljad7tqe1w=s48-c-k-c0x00ffffff-no-rj");

}

#btn008 {
	background-image: url("https://yt3.ggpht.com/wEuVi81hi3BQNkZVAAycZuvOKrZ2fWO7owzbiahnir5TFlpaA_V3usMuDKTzoZXdW1q8JKlK=s48-c-k-c0x00ffffff-no-rj");

}

#menu_touch, .menu_touch{
	background-image: url("../ico/touch.png");
}

#menu_btn001 {
	background-image: url("https://yt3.ggpht.com/uzQdDkao2X55x-l4RdUwN6W9e8iQqrCwuP6yTlkek167p1YEmHBKPOr_VkN1F3Z_1vjYVFbxxQ=s48-c-k-c0x00ffffff-no-rj");
}

#menu_btn002 {
	background-image: url("../ico/lang.ico");
}

.footer {
	padding: 15px 15px 0 15px;
	height: 60px;
	background-color: #FDCB0B;
	z-index: 50;
}

.footer__u-tv__ver1 {
	padding: 15px 15px 0 15px;
	height: 60px;
	background-image: linear-gradient(to right, rgb(255, 213, 0), rgb(0, 87, 184));
	z-index: 50;
}

.footer-menu {
	align-items: center;
}

.footer-menu__list {
	display: flex;
	justify-content: space-between;
}

.footer__button {
	color: rgb(0, 87, 184);
	font-size: 16px;
	font-weight: bolder;
	text-shadow: 0px 4px 4px #fff;
}

.fancybox-active {
	height: 100vh;
	/* height: -webkit-fill-available; */
}

.fancybox-slide {
	padding: 6px;
}

.fancybox-bg {
	/* background-image: linear-gradient(180deg, #003399, #FFCC00); */
	background: #003399;
	border-top: 60px solid rgb(0, 87, 184);
	/* border-bottom: 60px solid rgba(255, 255, 0); */
	border-bottom: 60px solid rgb(0, 87, 184);
}

.fancybox-toolbar {
	display: none;
}

/* #movie_player .ytp-cued-thumbnail-overlay-image {
	background-image: url('../my_projects/car_sharing/img/slider-img.png');
} */

@media (max-width: 480px) {
	.tv__link:hover {
		background-color: #292626;
	}

	.header {
		height: 50px;
	}

	.logo {
		margin-top: 1px;
		height: 46px;
		width: 46px;
	}

	.coat {
		margin-top: 2px;
		width: 29px;
		height: 40px;
	}

	.logo.active {
		width: 46px;
		height: 46px;
	}

	.logo.active:active {
		width: 46px;
		height: 46px;
	}

	.logo__link.active{
		font-size: 14px;
	}

	.header-menu {
		top: 50px;
	}

	.sub-menu__arrow.arrow {
		right: 10px;
		top: 8px;
		border-top: 10px solid #fff;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: none;
	}


	.fancybox-bg {
		border-top: 50px solid rgb(0, 87, 184);
		border-bottom: 60px solid rgb(0, 87, 184);
	}

}

@media (max-height: 640px) {
	.tv__link:hover {
		background-color: transparent;
	}

	.main__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu__list-one {
		margin-bottom: 0px;
		margin-right: 25px;
	}

	.menu__list-one,
	.menu__list-two {
		display: block;
		width: 77px;
	}

	.tv__item {
		display: inline-block;
		padding: 10px;
		background-color: #292626;
		font-size: 0px;
		border-radius: 10px;
		-webkit-box-shadow: 0 3px 1px rgb(0, 87, 184, 0.5);
		box-shadow: 0 3px 1px rgb(0, 87, 184, 0.5);
		cursor: pointer;
		align-items: center;
	}

	.tv__item:active {
		background-image: linear-gradient(180deg, rgb(0, 87, 184), rgb(255, 213, 0));
		position: relative;
		top: 2px;
		-webkit-box-shadow: 0 1px 1px rgb(0, 87, 184, 0.5);
		box-shadow: 0 1px 1px rgb(0, 87, 184, 0.5);
	}

	.tv__link {
		border: 2px solid rgb(0, 87, 184);
		border-radius: 50%;
		min-width: 55px;
		height: 55px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

@media (max-height: 520px) {
	.header {
		height: 40px;
	}

	.logo {
		margin-top: 1px;
		height: 36px;
		width: 36px;
	}

	.coat {
		margin-top: 2px;
		max-width: 21px;
		height: 30px;
	}

	.logo.active {
		width: 36px;
		height: 36px;
	}

	.logo.active:active {
		width: 36px;
		height: 36px;
	}

	.logo__link.active{
		font-size: 10px;
	}

	.header-menu {
		top: 40px;
	}

	.main__inner {
		flex-direction: column;
		max-width: 100%;
		width: 360px;
		padding: 5px;
	}

	.menu__list-one {
		margin-right: 0px;
		display: flex;
		justify-content: center;
	}

	.menu__list-two {
		display: flex;
		justify-content: center;
	}

	.tv__item {
		width: 77px;
		height: 77px;
		margin: 6px;
	}

	.tv__item+.tv__item {
		margin-top: 6px;
	}

	.footer {
		height: 50px;
	}

	.fancybox-bg {
		border-top: 40px solid rgb(0, 87, 184);
		border-bottom: 50px solid rgb(0, 87, 184);
	}

}